/* basic styling */
.header {
    background-color: #96ceb4;
    align-items: center;
    vertical-align: middle;
    display: grid;	
}

.menu {
    background-color: #ff6f69;
    align-items: center;
    vertical-align: middle;
    display: grid;
}

.content {
    background-color: #ffcc5c;
    align-items: center;
    vertical-align: middle;
    display: grid;
}
.footer {
    background-color: #88d8b0;
    align-items: center;
    vertical-align: middle;
    display: grid;
}
.container {
    text-align: center;
    
}

html {
    padding: 0 10px;
    margin: 0 10px;
    font-size: 28px;

}
html, body  {
    background: #ffeead;
    color: #ffeead;
}
